.address {
  margin-top: 20px;
  margin-bottom: 0;

  color: #ffffff;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.adress__contact {
  margin-top: 9px;

  color: rgba(255, 255, 255, 0.6);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  display: block;
  text-decoration-line: none;
}
