:root {
  --primary-white-bgcolor: #ffffff;
  --secondary-bg-color: #2f303a;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --hover-text-color: #2196f3;
  --part-logo-color: #2196f3;
  --border-gallery-color: #eeeeee;
  --card-grid-item: 4;
  --card-grid-width: 30px;
}
